[submodule "firmware/imu_joy_uros/micro_ros_stm32cubemx_utils"]
	path = firmware/imu_joy_uros/micro_ros_stm32cubemx_utils
	url = https://github.com/Ling-ling00/micro_ros_stm32cubemx_utils_for_fun5
[submodule "firmware/imu_joy_uros/MPU6050"]
	path = firmware/imu_joy_uros/MPU6050
	url = https://github.com/leech001/MPU6050
[submodule "src/turtlebot3_multi_robot"]
	path = src/turtlebot3_multi_robot
	url = https://github.com/Ling-ling00/turtlebot3_multi_robot_for_miniproject
